#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    /* border: 2px solid red; */
    box-sizing:border-box;
    z-index: -1;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    color: white;
}
.workingarea{
    width: 100%;
    flex: 1;
}
#innerdiv{
    /* border: 2px solid gray; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    /* height: 50vh; */
    position: absolute;
    right: 0px;
    top: 40vh;
    /* border: 2px solid white; */
    /* border-radius: 5px; */
    z-index: 3;
}
:host ::ng-deep .mat-tab-label {
    min-width: 20px;
}
#menubar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mat-raised-button{
    margin-left: 4px;
    margin-right: 4px;
}
.titleText{
    font-size: medium;
}
.error1{
    height: 20vh;
    width: 80%;
    position: absolute;
    bottom: 1%;
    left: 10%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(0,0,0) !important;
    font-size:large;
    color: rgba(255, 255, 255, 0.623);
    resize: none;
    border-radius: 10px;
    z-index: 4;
    outline: none;
}
#configBox{
    height: 100%;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    text-align: left;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}
#settings{
    flex: 1 1 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
#infobox{
    flex: 1 1 0px;
    height: 100%;
    margin-right: 10px;
    padding: 0px;
    text-align: center;
}
mat-slider,mat-form-field{
    margin-left: 25px;
    margin-right: 25px;
    width: 40vh;
}
mat-card{
    flex: 1 1 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}
mat-grid-list{
    margin: 10px;
}
mat-grid-tile {
    background: lightblue;
}
::selection{
    background-color: rgb(219, 219, 219);
    color: rgb(31, 31, 31);
}
#showVars{
    position: absolute;
    right: 2vw;
    top : 2vh;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    vertical-align: center;
    font-size: x-large;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}
.textDisplay{
    margin: 20px;
}