<h1 mat-dialog-title>GsPlay Editor : Online Shader Editor</h1>
<div mat-dialog-content>
  <mat-card>
    <mat-card-title>What is this</mat-card-title>
    <mat-card-content>
      <div>Guide - start with presets and play with the code, for proper guide read/watch Inigo Quilez's tutorial and check out his website https://www.shadertoy.com/<br></div>
      <div>Changes stored in local storage in browser, which is not not sent to any server.<br></div>
      <div>Pause button does not freeze time, it stops continous render, i.e. renders one frame after a change is made<br></div>
      <div>Auto Compile set to 1 sec intervals<br></div>
      <div>Shader toy naming conventions used, refactoring ability may be added</div>
      <div>glhf<br></div>
      <div>=========================================</div>
      <div>Shortcuts - </div>
      <div><kbd>Ctrl + E</kbd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Show/Hide Editor</div>
      <div><kbd>Alt + arrows</kbd>&nbsp;- Switch</div>
      <div><kbd>`</kbd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Open Settings</div>
      <div><kbd>Ctrl + Space</kbd>&nbsp;- Pause Play</div>
      <div>=========================================</div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Shaders Presets</mat-card-title>
    <mat-card-content id="presetList">
      <div class="preset_blocks">
        <div style="text-align: center;font-size: large;">Main Buffer</div>
        <mat-selection-list [multiple]="false" #pre1>
          <mat-list-option *ngFor="let p of preset1" (click)="setProg1(p.code)">
            {{p.name}}
            <span style="font-size: smaller;">{{p.desc}}</span>
          </mat-list-option>
        </mat-selection-list>   
      </div>

      <div class="preset_blocks">
        <div style="text-align: center;font-size: large;">Second Pass</div>
        <mat-selection-list [multiple]="false" #pre2>
          <mat-list-option *ngFor="let p of preset2" (click)="setProg2(p.code)">
            {{p.name}}
            <span style="font-size: smaller;">{{p.desc}}</span>
          </mat-list-option>
        </mat-selection-list>   
      </div> 

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Renderer Settings</mat-card-title>
    <mat-card-content>
      <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <span >Set Render Scale Factor (downscale for perfomance)</span>
        <mat-slider min="0.1" max="1.0" step="0.1" [(ngModel)]="data.resolutionScale"></mat-slider>
        <mat-form-field class="example-full-width">
          <mat-label>Res Scale {{data.resolutionScale}}</mat-label>
          <input matInput placeholder="Range in (0,1)" type="number" min="0.1" max="1.0" step="0.1" [(ngModel)]="data.resolutionScale">
        </mat-form-field>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Texture Settings</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>iChannel0</mat-grid-tile>
        <mat-grid-tile>iChannel1</mat-grid-tile>
        <mat-grid-tile>iChannel2</mat-grid-tile>
        <mat-grid-tile>iChannel3</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close Without Updating</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update Config</button>
</div>