.main{
    width: 100vw;
    height: 100vh;
    background-image: url(./resources/images/cube.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}
.workingarea{
    width: 100%;
    flex: 1;
}
#innerdiv{
    /* border: 2px solid gray; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}
:host ::ng-deep .mat-tab-label {
    min-width: 20px;
}
#menubar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mat-raised-button{
    margin-left: 4px;
    margin-right: 4px;
}
.titleText{
    font-size: medium;
}
.code1{
    flex-grow: 300;
    max-height: 100%;
}
.error1{
    flex-grow: 1;
    background-color: rgba(1,1,1,0.8);
    font-size:large;
    color: white;
    padding: 20px; 
}
#configBox{
    height: 100%;
    padding: 20px;
    margin-top: 0;
    padding-top: 0;
    background-color:white;
    color: black;
    text-align: left;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}
#settings{
    flex: 1 1 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
#infobox{
    flex: 1 1 0px;
    height: 100%;
    margin-right: 10px;
    padding: 0px;
    text-align: center;
}
mat-slider,mat-form-field{
    margin-left: 25px;
    margin-right: 25px;
    width: 40vh;
}
mat-card{
    flex: 1 1 0px;
    margin-top: 25px;
    margin-bottom: 25px;
}